!!!
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
        link(rel="stylesheet", href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
        script(src="http://code.jquery.com/jquery-1.8.2.min.js")
        script(src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js")
    body
        div(id="cyrang_interest", data-role="page", data-title="Cyrang")
            div(data-role="header")
                h1 싸이랑 관심집중
            div(data-role="content")
                ul(data-role="listview")
                    each item in list
                        li
                            - var url = (item.tocy_info.spsvccode === '2')? "http://m.minihp.cyworld.nate.com/minihp/photoView.php?hp_id="+ item.tocy_info.spwritertid +"&bo_no=" + item.tocy_info.spitemseq + "&frompage=1&fromvt=thumb" : "http://m.cyworld.nate.com/blog/postView.php?home_id=" + item.tocy_info.spwriterbid + "&post_seq=" + item.tocy_info.spitemseq
                            a(href=url)
                                img(src="#{item.thumb_url}")
                                - var text = (item.title.replace(/^\s*/,'') === '')? '제목없음':item.title
                                h3= text
                                p #{item.text}
                    li
                        a(href="/interest/" + seq) 더보기
